<div class="app-layout">

  <aside class="sidebar" role="navigation" aria-label="Main Navigation">
    <h2 class="app-title">DailySpend</h2>

    <nav class="nav-links">
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="/transactions" routerLinkActive="active">Transactions</a>
      <a routerLink="/reports" routerLinkActive="active">Reports</a>
    </nav>
  </aside>

  <main class="content">
    <div [@routeFade]="true">
      <router-outlet></router-outlet>
    </div>
  </main>

</div>

<!-- Global Loader -->
<div class="global-loader" *ngIf="loading$ | async">
  <mat-progress-spinner
    mode="indeterminate"
    diameter="50">
  </mat-progress-spinner>
</div>
